*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 16px;
}
.logo{
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.spn{
    color: rgb(235, 152, 0);
}
.list-item{
    list-style: none;
    display: flex;
    gap: 24px;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.list-item li a{
    position: relative;
}
.list-item li a::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    bottom: -5px;
    background-color: rgb(214, 165, 1);
    transition: width 0.3s ease;
}
.list-item li a:hover::after{
    width: 100%;
}
body{
    background-image: url('../photo/pexels-julia-lee-1148675-7792825.jpg');
    background-color: rgba(0, 0, 0, 0.712);
}
.sec1{
    padding: 40px;
    margin-left: 60px;
}
.para1{
    color: white;
}
.head1{
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.head2{
    color: gold;
    font-size: 40px;
    font-weight: 600;
}
.spn2{
    color: rgba(218, 33, 1, 0.877);
    font-weight: 600;
}
.para2{
    width: 300px;
    font-size: 16px;
    color: white;
}
.btn1{
    background: linear-gradient(30deg, pink,red,yellow);
    height: 46px;
    width: 200px;
    color: white;
    border-radius: 50px;
}
.btn2{
    background: none;
    height: 46px;
    width: 200px;
    color: white;
    border-radius: 50px;
}
.div1{
    padding-top: 20px;
}